{% extends "_layout.html" %}

{% block title %}
    <title>Databases</title>
{% endblock %}

{% block body %}
    <h3>Databases</h3>
    <br><br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Nom</th>
            <th>Nombre de tables</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for db in databases %}
            <tr>
                <td>{{ db.nom }}</td>
                <td>{{ db.nb_tables }}</td>
                <td>
                    <form action="/databases/tables" method="post">
                        <input type="hidden" name="database" value="{{ db.nom }}">
                        <button type="submit" class="btn btn-success">Voir</button>
                    </form>
                    <form action="/database/delete" method="post">
                        <input type="hidden" name="database" value="{{ db.nom }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}