{% extends "_layout.html" %}

{% block title %}Databases{% endblock %}

{% block body %}
<h1>Databases</h1>
<table>
    <tr>
        <th>Nom</th>
        <th>Nombre de tables</th>
        <th>Actions</th>
    </tr>
    {% for db in databases %}
        <tr>
            <td>{{ db.nom }}</td>
            <td>{{ db.nb_tables }}</td>
            <td>
                <form action="/databases/tables" method="post">
                    <input type="hidden" name="database" value="{{ db.nom }}">
                    <button>Voir</button>
            </form>
            <a href="">supprimer</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}