{% extends "_layout.html" %}

{% block title %}
    <title>Tables de {{ database }}</title>
{% endblock %}

{% block body %}
    <h3>Tables de {{ database }}</h3>
    <br><br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Table</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for table in tables %}
            <tr>
                <td>{{ table }}</td>
                <td>
                    <form action="/database/table/show" method="post">
                        <input type="text" value="{{ database }}" name="database" hidden>
                        <button class="btn btn-success" type="submit" value="{{ table }}" name="table">Voir</button>
                    </form>
                    <form action="/database/table/delete" method="post">
                        <input type="text" value="{{ database }}" name="database" hidden>
                        <button class="btn btn-danger" type="submit" value="{{ table }}" name="table">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}